{% extends "base.html" %}
{% block content %}

<h1>DST News Aggregation</h1>

    <br>
    <br>

    {% import '_helpers.html' as helpers %}

    {% for article in articles %}
        <!--<strong>{{ article.link }}</strong>-->
        {{ loop.index }}
        <string>Article link:</string> <a href=" {{ article.link }} ">{{ article.title }}</a> <br>
        <!--<strong>Article title:</strong>{{ article.title }} <br>-->
        <br>
    {% endfor %}

    <br>

    {{ helpers.render_pagination(pagination) }}


{% endblock %}
